[defaults]

inventory=./machines
# ansible-playbook -v Visualiza los datos de salida
# ansible-playbook -vv Datos de salida y entrada
# ansible-playbook -vvv Información sobre conexiones
# ansible-playbook -vvvv Añade mucha más información, usuarios, scripts, etc
log_path=/tmp/ansible.log