[defaults]

inventory=./machines
# -v Visualiza los datos de salida
# -vv Datos de salida y entrada
# -vvv Información sobre conexiones
# -vvvv Añade mucha más información, usuarios, scripts, etc
log_path=/tmp/ansible.log